
.box {
	width:70%;
	height:auto;
	background:#FFF;
	margin:40px auto;
}

.container {
  font-size: 14;
  color: #44546b;
  cursor: pointer;
  width: 260px;
  margin: 0.5%;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 8px 6px -6px black;

  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.container:before, .container:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.container:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.description {
	grid-area: desc;
}

.price {
	grid-area: costo;
}

.content-description {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'desc costo';

}

.price {
  color: #ff8f00;
  font-weight: bold;
}
