
.grid-products {
  grid-area: products;
  text-align: center;
  margin-top: 10vh;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: '. products products products products products products products .';
}


@media(min-width: 960px) {
  .grid-main {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-areas: '. products products products products products products products .';
  }
}
